<div class="mat-wrapper" fxLayout="column" fxLayoutAlign="center center" style="height: 80%">
    <mat-card fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header>
            <mat-card-title [ngStyle]="{'color': 'var(--primary)'}">Login</mat-card-title>
        </mat-card-header>
        <img *ngIf="urlLogo" mat-card-image [src]="urlLogo" style="width: 50px; height: 60px;">
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="example-form" fxLayout="column"
                style="width: 350px; text-align: center; padding: 20px;">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter your email" formControlName="email" required>
                    <mat-error
                        *ngIf="loginForm.hasError('required', 'email') || loginForm.hasError('invalidEmail', 'email')  || !emailValid()">
                        Invalid Email</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                        formControlName="password" maxlength="25">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.hasError('required', 'password')">Password is required </mat-error>
                    <mat-error *ngIf="loginForm.hasError('minlength', 'password')">Password minimum length 6 characters
                    </mat-error>
                    <mat-error *ngIf="loginForm.hasError('maxlength', 'password')">Password max length 25 characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <!-- <mat-spinner [diameter]="20" style="height: 60px"></mat-spinner> -->
                    <mat-select placeholder="Select Ship" formControlName="ship">
                        <mat-option *ngFor="let shipType of shipTypes" [value]="shipType">
                            Brand: {{shipType}}
                        </mat-option>
                    </mat-select>

                    <span *ngIf="!shipTypes" matSuffix>
                        <mat-spinner [diameter]="15" style="height: 60px"></mat-spinner>
                    </span>
                    
                    <mat-error *ngIf="loginForm.hasError('required', 'ship')">Ship is required </mat-error>
                </mat-form-field>


                <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>