<div fxLayout="row" fxLayoutGap="22px" fxLayoutAlign="center start">
    <form [formGroup]="loginForm" class="example-form" fxLayout="column"
        style="width: 400px; text-align: center; padding: 20px;">
        <h3 [ngStyle]="{'color': 'var(--primary)'}">Login</h3>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="loginForm.hasError('required', 'email') || loginForm.hasError('invalidEmail', 'email')  || !emailValid()">Invalid Email</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                formControlName="password" maxlength="25">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.hasError('required', 'password')">Password is required </mat-error>
            <mat-error *ngIf="loginForm.hasError('minlength', 'password')">Password minimum length 6 characters </mat-error>
            <mat-error *ngIf="loginForm.hasError('maxlength', 'password')">Password max length 25 characters </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Select Ship" formControlName="ship">
                <mat-option value="option">Nothing here for now</mat-option>
            </mat-select>
            <mat-error *ngIf="loginForm.hasError('required', 'ship')">Ship is required </mat-error>
        </mat-form-field>

        <button  mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>