/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Color Variables
:root {
    --primary: #0f2b5c;
    --secondary: #1ca8f3;
    --accent: pink;
    --warn: pink;
  }

body,html {
    height: 100%;
    margin: 0px;
}

.spinner-no-background-color .mat-dialog-container {
  background-color: transparent;
  box-shadow: none;
} 

.cdk-overlay-container .cdk-overlay-dark-backdrop {
  transition-duration: 1s;
  transition-timing-function: ease-in;
}