/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Color Variables
:root {
    --primary: #3f51b5;
    --accent: pink;
    --warn: pink;
  }

body,html {
    height: 100%;
    margin: 0px;
}

.spinner-no-background-color .mat-dialog-container {
  background-color: transparent;
  box-shadow: none;
} 